/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Desktop First */

* {
    font-family: 'Titillium Web', sans-serif;
}

main {
    width: 880px;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
}

/* Nav Bar */

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 30px 0 30px 0;
}

nav img {
    margin-top: 5px;
}

/* Main header */

#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

#wrapper section {
    text-align: center;
}

button {
    border: 2px solid black;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    background-color: white;
}


/* About */

.box {
    display: flex;
    margin: 40px 0 40px 0;
    justify-content: space-between;
}

/* Footer */

address {
    margin: 30px 0 30px 0;
}

.addr {
    margin: 0 0 20px 0;
}


#copyright {
    text-align: center;
}


/* Tablet */
@media (max-width:800px){

    main {
        width: 90%;
    }

    /* Nav Bar */
    nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #wrapper img {
        display: none;
    }

    #wrapper {
        justify-content: center;
    }

    #container img {
        width: 100%;
    }

}

/* Mobile */
@media (max-width:500px){
    nav {
        flex-direction: column;
        justify-content: space-around;
    }

    a {
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        margin: 0;
        border-top: 2px solid black;
    }

    nav a:nth-of-type(1) {
        margin-top: 20px;
    }

    .border {
        border-bottom: 2px solid black;
    }

    .box {
        flex-direction: column;
    }

    .box section {
        margin-top: 40px;
    }
}


